@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Pixelify Sans";
  font-size: 25px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.575) rgba(255, 255, 255, 0);
}
